<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevWiki</title>
    <link rel="stylesheet" th:href="@{/css/menu.css}">

    <style>
        body {
            margin: 0;
            font-family: -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
            scroll-behavior: smooth;
        }

        section {
            min-height: 500px;
            padding: 40px;
        }
    </style>
</head>

<body>
    <nav class="menu-superior">
        <a class="activo" href="pagina.html" th:href="@{/}">Inicio</a>
        <a href="arquitectura.html" th:href="@{/arquitectura}">Arquitectura</a>
        <a href="historias.html" th:href="@{/historias}">Historias de usuario</a>
        <a href="contacto.html" th:href="@{/contacto}">Contáctanos</a>
    </nav>

    <section id="inicio"></section>
</body>
</html>
